/* Bloco central para login/cadastro */
.auth-container {
  background-color: #1a1a1a;
  border-radius: 20px;
  padding: 2rem;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centraliza na tela */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #242424; /* fundo escuro caso não carregue */
  background-image: url('/imgback.png'); /* Carrega a imagem da pasta public */
  background-size: cover; /* Faz a imagem cobrir todo o espaço sem distorcer */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Deixa a imagem fixa durante o scroll (efeito legal) */
}

/* Título */
.auth-container h2 {
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
}

/* Inputs */
.auth-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #e5e5e5;
  color: #1a1a1a;
  font-size: 1em;
  outline: none;
}

/* Botão */
.auth-container button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #f3983d;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-container button:hover {
  background-color: #ed7600;
}

.erro {
  color: 'red';
  font-size: '0.9em';
  margin-top: '0.5rem';
}

/* Título */
.nada {
  font-style: oblique;
  font-size: 2.0em;
}